.stats_card {
  background-color: #ffd865;
  color: #040404;
  height: 20vh;
  width: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  span {
    font-size: 3rem;
    font-weight: 300;
  }
}

@media (max-width: 768px) {
  .stats_card {
    width: 30vw;
    height: 15vh;

    h2 {
      font-size: 1rem;
    }
  }
}